<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Who:</strong>
  <%= @subject.who %>
</p>

<p>
  <strong>Status:</strong>
  <%= @subject.status %>
</p>

<p>
  <strong>Finalend:</strong>
  <%= @subject.finalend %>
</p>

<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
